ExcelSQLData/ExcelSQLData/Connected Services/VetSystemReference/DatabaseOperations2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50567/DatabaseOperations.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SOAPConnectToDatabase" />
  <xs:element name="GetAllDoctors">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDoctorsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SOAPConnectToDatabase" minOccurs="0" name="GetAllDoctorsResult" nillable="true" type="q1:ArrayOfDoctor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertDoctor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SOAPConnectToDatabase" minOccurs="0" name="d" nillable="true" type="q2:Doctor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertDoctorResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>