ExcelSQLData/ExcelSQLData/Connected Services/VetSystemReference/DatabaseOperations.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SOAPConnectToDatabase" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SOAPConnectToDatabase" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDoctor">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Doctor" nillable="true" type="tns:Doctor" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDoctor" nillable="true" type="tns:ArrayOfDoctor" />
  <xs:complexType name="Doctor">
    <xs:sequence>
      <xs:element minOccurs="0" name="DoctorSpecialtiesDoctors" nillable="true" type="tns:ArrayOfDoctorSpecialtiesDoctor" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PetStatus" nillable="true" type="tns:ArrayOfPetStatu" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Doctor" nillable="true" type="tns:Doctor" />
  <xs:complexType name="ArrayOfDoctorSpecialtiesDoctor">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DoctorSpecialtiesDoctor" nillable="true" type="tns:DoctorSpecialtiesDoctor" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDoctorSpecialtiesDoctor" nillable="true" type="tns:ArrayOfDoctorSpecialtiesDoctor" />
  <xs:complexType name="DoctorSpecialtiesDoctor">
    <xs:sequence>
      <xs:element minOccurs="0" name="Doctor" nillable="true" type="tns:Doctor" />
      <xs:element minOccurs="0" name="DoctorID" type="xs:int" />
      <xs:element minOccurs="0" name="DoctorSpecialtiesID" type="xs:int" />
      <xs:element minOccurs="0" name="DoctorSpecialty" nillable="true" type="tns:DoctorSpecialty" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DoctorSpecialtiesDoctor" nillable="true" type="tns:DoctorSpecialtiesDoctor" />
  <xs:complexType name="DoctorSpecialty">
    <xs:sequence>
      <xs:element minOccurs="0" name="DoctorSpecialtiesDoctors" nillable="true" type="tns:ArrayOfDoctorSpecialtiesDoctor" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DoctorSpecialty" nillable="true" type="tns:DoctorSpecialty" />
  <xs:complexType name="ArrayOfPetStatu">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PetStatu" nillable="true" type="tns:PetStatu" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPetStatu" nillable="true" type="tns:ArrayOfPetStatu" />
  <xs:complexType name="PetStatu">
    <xs:sequence>
      <xs:element minOccurs="0" name="Doctor" nillable="true" type="tns:Doctor" />
      <xs:element minOccurs="0" name="DoctorID" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Pet" nillable="true" type="tns:Pet" />
      <xs:element minOccurs="0" name="PetID" type="xs:int" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="tns:Status" />
      <xs:element minOccurs="0" name="StatusID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PetStatu" nillable="true" type="tns:PetStatu" />
  <xs:complexType name="Pet">
    <xs:sequence>
      <xs:element minOccurs="0" name="AnimalSubType" nillable="true" type="tns:AnimalSubType" />
      <xs:element minOccurs="0" name="AnimalSubTypeID" type="xs:int" />
      <xs:element minOccurs="0" name="AnimalType" nillable="true" type="tns:AnimalType" />
      <xs:element minOccurs="0" name="AnimalTypeID" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Owner" nillable="true" type="tns:Owner" />
      <xs:element minOccurs="0" name="OwnerID" type="xs:int" />
      <xs:element minOccurs="0" name="PetStatus" nillable="true" type="tns:ArrayOfPetStatu" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Pet" nillable="true" type="tns:Pet" />
  <xs:complexType name="AnimalSubType">
    <xs:sequence>
      <xs:element minOccurs="0" name="AnimalType" nillable="true" type="tns:AnimalType" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ParentAnimal" type="xs:int" />
      <xs:element minOccurs="0" name="Pets" nillable="true" type="tns:ArrayOfPet" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AnimalSubType" nillable="true" type="tns:AnimalSubType" />
  <xs:complexType name="AnimalType">
    <xs:sequence>
      <xs:element minOccurs="0" name="AnimalSubTypes" nillable="true" type="tns:ArrayOfAnimalSubType" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pets" nillable="true" type="tns:ArrayOfPet" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AnimalType" nillable="true" type="tns:AnimalType" />
  <xs:complexType name="ArrayOfAnimalSubType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AnimalSubType" nillable="true" type="tns:AnimalSubType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAnimalSubType" nillable="true" type="tns:ArrayOfAnimalSubType" />
  <xs:complexType name="ArrayOfPet">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Pet" nillable="true" type="tns:Pet" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPet" nillable="true" type="tns:ArrayOfPet" />
  <xs:complexType name="Owner">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pets" nillable="true" type="tns:ArrayOfPet" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Owner" nillable="true" type="tns:Owner" />
  <xs:complexType name="Status">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PetStatus" nillable="true" type="tns:ArrayOfPetStatu" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Status" nillable="true" type="tns:Status" />
</xs:schema>